:root {
/* Variáveis de cor */ 
--clr-primary: #e02d2d;
--clr-black: #191919;
--clr-white: #eef2f5;

/* Fontes e variações de textos  */ 
font-family: "Poppins", Helvetica, sans-serif;
    font-size: .875rem;
    line-height: 18px;
color: var(--clr-black);

}

/* Utilitary */

a {
    color: inherit;
    text-decoration: none;
}

.btn {
     background-color: var(--clr-primary);
    width: fit-content;
    padding: .85rem 1.25rem;
    border-radius: .5rem;
    color: var(--clr-white);
    transition: transform 150ms ease;

&:hover {
    transform: scale(1.01);
}
}
