:root {
/* Variáveis de cor */ 
--clr-primary: #e02d2d;
--clr-black: #191919;
--clr-white: #eef2f5;

/* Fontes e variações de textos  */ 
font-family: "Poppins", Helvetica, sans-serif;
    font-size: .875rem;
    line-height: 18px;
color: var(--clr-black);

}

html {
scroll-behavior: smooth;
}

/* Utilitary */

section {
    display: flex;
    flex-direction: column;
    padding-inline: 1.75rem;
    padding-block: 2rem 3.5rem;
}

h2 {
     font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

ul[role="list"] {
    list-style: none;
}

.btn {
    display: flex;
    align-items: center;
    gap: .5rem;
     background-color: var(--clr-primary);
    width: fit-content;
    padding: .85rem 1.25rem;
    border-radius: .5rem;
    color: var(--clr-white);
    transition: transform 150ms ease;

&:hover {
    transform: scale(1.01);
}
}

