main {

    & #home {
        display: flex;
        flex-direction: column;
justify-content: center;
        height: 700px;
padding-inline: 1.5rem;
background: url(../assets/dv-img-mobile.png) no-repeat -3.5rem;

        & .home-cta {
            display: flex;
        flex-direction: column;
        gap: 2.85rem;
& .home-heading {
    display: flex;
    flex-direction: column;
    gap: 0;
    & h1 {
        font-size: 1.5rem;
        line-height: 150%;
        font-weight: 500;
        margin: 0;
}

& p {
    line-height: 150%;
}

}

        }

    }

    & #about {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2.25rem 1.75rem;
        background-color: var(--clr-black);
        color: var(--clr-white);

& h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

& img {
    border-radius: .6rem;
}

& .about-links {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

    } 

}